/* CSS for Calculator */
body, html {
	height: 100%;
	font: 13px/16px normal normal "Lucida Grande", Verdana, Helvetica, Arial, Sans-Serif;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
}

#calculator {
	display: block;
	padding: 3px 10px 10px;
	margin: 5em auto;
	box-shadow: 0px 10px 30px 5px rgba(0,0,0,.25),
				0 1px 0 rgba(255,255,255,.8) inset,
				0 0 0 1px rgba(0,0,0,.4);
	max-width: 218px;
	border-radius: 5px;
	position: relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	background: #e8e8e8; /* Old browsers */
	
	background: -moz-linear-gradient(top, #e8e8e8 0%, #afafaf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#afafaf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e8e8e8 0%,#afafaf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e8e8e8 0%,#afafaf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e8e8e8 0%,#afafaf 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e8e8e8 0%,#afafaf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#afafaf',GradientType=0 ); /* IE6-9 */
}

#calculator span {
	text-align: center;
	display: block;
	margin: 0 0 8px 0;
}

#output {
	background: #f1f9cc;
	height:46px;
	box-shadow: 0 2px 2px rgba(255,255,255,.8),
				0 1px 8px 1px rgba(0,0,0,.1), 
				0 2px 3px rgba(0,0,0,.7) inset;
	border-radius: 4px;
	margin:0 auto 10px;
	width:93%;
	border:1px solid rgba(0,0,0,.3);
}

#buttons {
}
#buttons ul {
	display: table;
	width: 100%	;
	padding-left: 0;
	margin: 0;
}
#buttons ul li {
	list-style: none;
	list-style-position: inside;
	display: table-cell;
	padding: 1px 2px;
	width: 25%;
}
#buttons button {
	border:1px solid #7c7c7c;
	float: left;
	width: 100%;
	border-radius: 4px;
	background-color: #d9d9d9;
	font-size: 13px;
	box-shadow: 0 1px 5px rgba(255,255,255,.9) inset, 0 1px 0 rgba(255,255,255,.3), 0 -1px 5px rgba(0,0,0,.55) inset;
	padding: 5px;
	text-shadow:0 1px 0 rgba(255,255,255,.6);
	vertical-align: bottom;
}


/* Hacking these three buttons a little */
button#Enter {
	height: 62px;
	margin-bottom: -32px;
}
button#Zero {
	
}
button#Decimal {
	width:49%;
}

#buttons button:hover {
	background-color: #e8e8e8;
}
#buttons button:active {
	background-color: #bababa;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	padding-top:6px;
	padding-bottom:4px;
}

.titleBarButtons {
	padding-left: 0;
	position: absolute;
	top: 3px;
	left: 8px;
	margin: 0;
}
.titleBarButtons li {
	list-style: none;
	float: left;
	width:12px;
	height: 12px;
	margin: 3px 7px 0 3px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 0 1px rgba(0,0,0,.4) inset,
				0 1px 0px rgba(255,255,255,.8);


	background: #ed4741; /* Old browsers */
	background: -moz-linear-gradient(top, #ed4741 0%, #ffffff 6%, #ffffff 13%, #f6b2ad 14%, #ed4741 49%, #fbbcbb 82%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed4741), color-stop(6%,#ffffff), color-stop(13%,#ffffff), color-stop(14%,#f6b2ad), color-stop(49%,#ed4741), color-stop(82%,#fbbcbb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ed4741 0%,#ffffff 6%,#ffffff 13%,#f6b2ad 14%,#ed4741 49%,#fbbcbb 82%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ed4741 0%,#ffffff 6%,#ffffff 13%,#f6b2ad 14%,#ed4741 49%,#fbbcbb 82%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ed4741 0%,#ffffff 6%,#ffffff 13%,#f6b2ad 14%,#ed4741 49%,#fbbcbb 82%); /* IE10+ */
	background: linear-gradient(to bottom, #ed4741 0%,#ffffff 6%,#ffffff 13%,#f6b2ad 14%,#ed4741 49%,#fbbcbb 82%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4741', endColorstr='#fbbcbb',GradientType=0 ); /* IE6-9 */	
}